@media (max-width: 575px) {
   .owl-carousel .slide{
    height: 40vh;
}
.slide-content h1{
    font-size: 1.8rem;
} 
.slide-content p{
    font-size: 1.5rem;
} 
}
@media (min-width: 576px) {
    .owl-carousel .slide{
        height: 50vh;
    } 
}
@media (min-width: 768px) {
   .owl-carousel .slide{
    height: 60vh;
} 
.features-img{    
    padding: 0 15%;
    position: relative;
    top: -50px;
}
}
@media (min-width: 992px) {
   .owl-carousel .slide{
    height: 70vh;
} 
}
@media (min-width: 1200px) {
   .owl-carousel .slide{
    height: 80vh;
} 
}
.slide-content{
    margin: 0 5%;
}
section.section{
    padding: 0 !important;
    margin: 0 !important;
    min-height: 500px;
    position: relative;
}
section.section .section-padding{
    padding: 60px 0;
}
#section-1{
    background: url('{{ asset('assets/front/images/paralax1.jpg') }}');
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
}
.overlay.green{
    background: rgba(0, 0, 0, .08)
}