/*
=============================
1 Body
=============================
*/

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #000;
    line-height: 1.6em;
    background: #ffffff;
    -webkit-font-smoothing: antialiased;
    max-width: 100%;
    overflow-x: hidden;
}
/*
=======================
2 Common Css
=======================
*/
/* 2.1 Reset Style */

img {
    max-width: 100%;
}
a {
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: all 0.45s ease-in-out;
    -moz-transition: all 0.45s ease-in-out;
    -o-transition: all 0.45s ease-in-out;
    -ms-transition: all 0.45s ease-in-out;
    transition: all 0.45s ease-in-out;
}
a:hover,
a:focus,
a:visited {
    text-decoration: none;
    outline: none;
    -webkit-transition: all 0.45s ease-in-out;
    -moz-transition: all 0.45s ease-in-out;
    -o-transition: all 0.45s ease-in-out;
    -ms-transition: all 0.45s ease-in-out;
    transition: all 0.45s ease-in-out;
}
p,
em {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 1.6em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    margin: 0px;
    background: none;
    line-height: 1.6em;
}
.dark-text {
    color: #202020;
}
.grey-bg {
    background: #eee;
}
.textC {
    text-align: center;
}
.textL {
    text-align: left;
}
.textR {
    text-align: right;
}
.positionR {
    position: relative;
}
ul.inline li {
    display: inline-block;
}
ul.inline {
    padding: 0px;
}
ul li i {
    margin-right: 5px;
}
.clear {
    clear: both;
}
/* 2.2 Form Elements */

input[type=text],
input[type=email],
input[type=search],
input[type=password],
input[type=number],
select,
textarea {
    position: relative;
    display: inline-block;
    line-height: 22px;
    padding: 10px 20px;
    margin-bottom: 15px;
    width: 100%;
    min-height: 42px;
    background-color: #f7f7f7;
    color: #000;
    margin-right: 3px;
    outline: none;
    max-width: 100%;
    border: 1px solid #f7f7f7;
}
input[type=text],
input[type=email],
input[type=search],
input[type=password],
input[type=number],
select {
    height: 42px;
}
label {
    display: inline-block;
    font-weight: 400;
    margin: 0 0 5px 0px;
}
.search-form .button {
    position: absolute;
    top: 12px;
    right: 0px;
    padding: 7.7px 20px;
    border: 0px;
    color: #fff;
    outline: none;
    border: 1px solid;
}
.search-form input {
    margin-top: 12px;
}
/* 2.3 Blockquote */

blockquote {
    margin: 15px auto 0px;
    border: 0;
    padding: 30px;
    width: 100%;
    position: relative;
}
blockquote:before {
    background-position: 0px 0px;
    background-repeat: no-repeat;
    content: '';
    width: 33px;
    height: 33px;
    position: absolute;
    background-size: 100% 100%;
    left: 0;
    top: 0;
}
/* 2.4 Button Style */

.theme-button,
.theme-button:visited,
.theme-button:hover,
.wa-dishes .wa-dishes-caption .theme-button:hover {
    position: relative;
    padding: 10px 28px 10px 28px;
    line-height: 22px;
    text-transform: capitalize;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    display: inline-block;
    border: 0;
}
.theme-button:focus {
    outline: none;
}
/* 2.5 Padding */

.pad0 {
    padding: 0
}
.pad5 {
    padding: 5px
}
.pad10 {
    padding: 10px
}
.pad15 {
    padding: 15px
}
.pad20 {
    padding: 20px
}
.pad30 {
    padding: 30px
}
.pad40 {
    padding: 40px
}
.pad50 {
    padding: 50px
}
.pad60 {
    padding: 60px
}
.pad70 {
    padding: 70px
}
.pad80 {
    padding: 80px
}
.pad90 {
    padding: 90px
}
.pad100 {
    padding: 100px
}
.padTB0 {
    padding: 0
}
.padTB5 {
    padding: 5px 0
}
.padTB10 {
    padding: 10px 0
}
.padTB15 {
    padding: 15px 0
}
.padTB20 {
    padding: 20px 0
}
.padTB30 {
    padding: 30px 0
}
.padTB40 {
    padding: 40px 0
}
.padTB50 {
    padding: 50px 0
}
.padTB60 {
    padding: 60px 0
}
.padTB70 {
    padding: 70px 0
}
.padTB80 {
    padding: 80px 0
}
.padTB90 {
    padding: 90px 0
}
.padTB100 {
    padding: 18px 0
}
.padT0 {
    padding-top: 0
}
.padT5 {
    padding-top: 5px
}
.padT10 {
    padding-top: 10px
}
.padT15 {
    padding-top: 15px
}
.padT20 {
    padding-top: 20px
}
.padT30 {
    padding-top: 30px
}
.padT40 {
    padding-top: 40px
}
.padT50 {
    padding-top: 50px
}
.padT60 {
    padding-top: 60px
}
.padT70 {
    padding-top: 70px
}
.padT80 {
    padding-top: 80px
}
.padT90 {
    padding-top: 90px
}
.padT100 {
    padding-top: 100px
}
.padB0 {
    padding-bottom: 0
}
.padB5 {
    padding-bottom: 5px
}
.padB10 {
    padding-bottom: 10px
}
.padB20 {
    padding-bottom: 20px
}
.padB30 {
    padding-bottom: 30px
}
.padB40 {
    padding-bottom: 40px
}
.padB50 {
    padding-bottom: 50px
}
.padB60 {
    padding-bottom: 60px
}
.padB70 {
    padding-bottom: 70px
}
.padB80 {
    padding-bottom: 80px
}
.padB90 {
    padding-bottom: 90px
}
.padB100 {
    padding-bottom: 100px
}
.padL0 {
    padding-left: 0
}
.padL5 {
    padding-left: 5px
}
.padL10 {
    padding-left: 10px
}
.padL20 {
    padding-left: 20px
}
.padL30 {
    padding-left: 30px
}
.padL40 {
    padding-left: 40px
}
.padL50 {
    padding-left: 50px
}
.padL60 {
    padding-left: 60px
}
.padL70 {
    padding-left: 70px
}
.padL80 {
    padding-left: 80px
}
.padL90 {
    padding-left: 90px
}
.padL100 {
    padding-left: 100px
}
.padLR0 {
    padding-left: 0
}
.padLR5 {
    padding-left: 5px
}
.padLR10 {
    padding-left: 10px
}
.padLR20 {
    padding-left: 20px
}
.padLR30 {
    padding-left: 30px
}
.padLR40 {
    padding-left: 40px
}
.padLR50 {
    padding-left: 50px
}
.padLR60 {
    padding-left: 60px
}
.padLR70 {
    padding-left: 70px
}
.padLR80 {
    padding-left: 80px
}
.padLR90 {
    padding-left: 90px
}
.padLR100 {
    padding-left: 100px
}
.padR0 {
    padding-right: 0
}
.padR5 {
    padding-right: 5px
}
.padR10 {
    padding-right: 10px
}
.padR20 {
    padding-right: 20px
}
.padR30 {
    padding-right: 30px
}
.padR40 {
    padding-right: 40px
}
.padR50 {
    padding-right: 50px
}
.padR60 {
    padding-right: 60px
}
.padR70 {
    padding-right: 70px
}
.padR80 {
    padding-right: 80px
}
.padR90 {
    padding-right: 90px
}
.padR100 {
    padding-right: 100px
}
/* 2.6 Margin */

.mar0 {
    margin: 0
}
.mar5 {
    margin: 5px
}
.mar10 {
    margin: 10px
}
.mar15 {
    margin: 15px
}
.mar20 {
    margin: 20px
}
.mar30 {
    margin: 30px
}
.mar40 {
    margin: 40px
}
.mar50 {
    margin: 50px
}
.mar60 {
    margin: 60px
}
.mar70 {
    margin: 70px
}
.mar80 {
    margin: 80px
}
.mar90 {
    margin: 90px
}
.mar100 {
    margin: 100px
}
.marT0 {
    margin-top: 0
}
.marT5 {
    margin-top: 5px
}
.marT10 {
    margin-top: 10px
}
.marT15 {
    margin-top: 15px
}
.marT20 {
    margin-top: 20px
}
.marT30 {
    margin-top: 30px
}
.marT40 {
    margin-top: 40px
}
.marT50 {
    margin-top: 50px
}
.marT60 {
    margin-top: 60px
}
.marT70 {
    margin-top: 70px
}
.marT80 {
    margin-top: 80px
}
.marT90 {
    margin-top: 90px
}
.marT100 {
    margin-top: 100px
}
.marB0 {
    margin-bottom: 0
}
.marB5 {
    margin-bottom: 5px
}
.marB15 {
    margin-bottom: 15px
}
.marB10 {
    margin-bottom: 10px
}
.marB20 {
    margin-bottom: 20px
}
.marB30 {
    margin-bottom: 30px
}
.marB40 {
    margin-bottom: 40px
}
.marB50 {
    margin-bottom: 50px
}
.marB60 {
    margin-bottom: 60px
}
.marB70 {
    margin-bottom: 70px
}
.marB80 {
    margin-bottom: 80px
}
.marB90 {
    margin-bottom: 90px
}
.marB100 {
    margin-bottom: 100px
}
.marL0 {
    margin-left: 0
}
.marL5 {
    margin-left: 5px
}
.marL10 {
    margin-left: 10px
}
.marL20 {
    margin-left: 20px
}
.marL30 {
    margin-left: 30px
}
.marL40 {
    margin-left: 40px
}
.marL50 {
    margin-left: 50px
}
.marL60 {
    margin-left: 60px
}
.marL70 {
    margin-left: 70px
}
.marL80 {
    margin-left: 80px
}
.marL90 {
    margin-left: 90px
}
.marL100 {
    margin-left: 100px
}
.marR0 {
    margin-right: 0
}
.marR5 {
    margin-right: 5px
}
.marR10 {
    margin-right: 10px
}
.marR20 {
    margin-right: 20px
}
.marR30 {
    margin-right: 30px
}
.marR40 {
    margin-right: 40px
}
.marR50 {
    margin-right: 50px
}
.marR60 {
    margin-right: 60px
}
.marR70 {
    margin-right: 70px
}
.marR80 {
    margin-right: 80px
}
.marR90 {
    margin-right: 90px
}
.marR100 {
    margin-right: 100px
}
/*
=======================
3 Header Style
=======================
*/

#main-header {
    position: relative;
    float: left;
    width: 100%;
}
/* 3.1 Top Header */

#top-bar {
    float: left;
    width: 100%;
    padding: 10px 0px;
}
#top-bar ul {
    margin-bottom: 0px;
}
#top-bar ul li {
    position: relative;
}
#top-bar ul li a {
    margin-right: 20px;
    text-transform: inherit;
    color: #fff;
}
#top-bar ul li a:hover,
#top-bar ul li a:visited {
    color: #fff;
}
#top-bar ul li:after {
    content: '';
    width: 1px;
    height: 100%;
    position: absolute;
    background-color: #fff;
    top: 0;
    right: 0;
    margin-right: 10px;
}
#top-bar ul li:last-child:after {
    width: 0px;
}
/* 3.2 Navigation Bar */

.wa-main-menu {
    position: relative;
    float: left;
    width: 100%;
}
.navbar-default {
    background-color: #fff;
    border-color: #fff;
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 0px;
    padding: 0px 0px;
}
.navbar-brand {
    padding: 0px 15px;
}
.navbar-default .navbar-nav>li>a {
    color: #000;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>li>a,
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    background-color: #fff;
    #color: #333;
    text-transform: capitalize;
}
.dropdown-menu {
    padding: 0px;
    border: 0px;
    border-top: 2px solid;
}
.dropdown-menu>li>a {
    display: block;
    padding: 10px 20px;
    clear: both;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.42857143;
    color: #000;
    white-space: nowrap;
    text-transform: capitalize;
}
.dropdown-submenu {
    position: relative;
}
.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
    width: 100%;
}
.dropdown-submenu a:hover .dropdown-menu {
    display: block;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
/*
===============================
4 Main Slider
===============================
*/

.wa_main_bn_wrap {
    float: left;
    width: 100%;
    position: relative;
}
.wa_main_bn_wrap figure {
    float: left;
    width: 100%;
    position: relative;
}
.wa_main_bn_wrap figure img {
    width: 100%;
}
.wa_main_bn_wrap figure:before {
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    background-color: #000000;
    opacity: 0.8;
}
.wa_main_bn_wrap figure figcaption {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin: -109px auto 0;
    text-align: center;
    color: #fff;
}
.wa_main_bn_wrap figcaption span {
    font-size: 24px;
    font-weight: normal;
    position: relative;
    text-transform: capitalize;
    padding-bottom: 10px;
    display: inline-block;
    margin-bottom: 0px;
}
.wa_main_bn_wrap figcaption span:before {
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    height: 2px;
    width: 120px;
    background-color: inherit;
    margin: 0 auto;
}
.wa_main_bn_wrap figcaption h2 {
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 10px;
    line-height: 1.2em;
    font-family: 'Kaushan Script', cursive;
    font-size: 44px;
}
.wa_main_bn_wrap figcaption h2 span {
    font-size: inherit;
    font-weight: inherit;
    padding-bottom: 0px;
}
.wa_main_bn_wrap figcaption p {
    color: inherit;
    margin: 0 0 30px 0;
    font-size: 16px;
}
.wa_main_bn_wrap .owl-theme .owl-controls .owl-page span {
    width: 30px;
    height: 2px;
    border-radius: 0;
    margin: 0 4px;
    background-color: white;
    display: inline-block;
    opacity: 1;
}
.wa_main_bn_wrap .owl-theme .owl-pagination {
    bottom: 70px;
    left: 0;
    margin: 0;
    position: absolute;
    right: 0;
    text-align: center;
    z-index: 22;
}
.wa_main_bn_wrap .customNavigation {
    bottom: 0%;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    margin: 0 0 0;
    z-index: 1;
}
.wa_main_bn_wrap .customNavigation .btn {
    border: medium none;
    border-radius: 0;
    color: #fff;
    margin: 0;
    padding: 6px 6px;
    z-index: -1;
}
.wa_main_bn_wrap .customNavigation .btn i {
    font-size: 16px;
    color: #fff;
}
.wa_main_bn_wrap .customNavigation .btn.prev-1 i,
.wa_main_bn_wrap .customNavigation .btn.next-1 i {
    font-size: 25px;
    font-weight: bold;
}
.wa_main_bn_wrap .customNavigation .prev-1 {
    margin-right: 58px;
    margin-left: 60px;
}
.wa_main_bn_wrap .owl-buttons {
    position: absolute;
    bottom: 50%;
    right: 0;
    width: 100%;
}
.wa_main_bn_wrap .owl-buttons div {
    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center;
    color: #fff;
    margin-right: 0px;
    #text-indent: 200%;
    overflow: hidden;
    display: inline-block;
    position: absolute;
    font-size: 0px;
    background-color: rgba(255, 255, 255, 0.2);
    -webkit-transition: all 0.45s ease-in-out;
    -moz-transition: all 0.45s ease-in-out;
    -o-transition: all 0.45s ease-in-out;
    -ms-transition: all 0.45s ease-in-out;
    transition: all 0.45s ease-in-out;
}
.wa_main_bn_wrap .owl-buttons div.owl-prev {
    left: 0;
}
.wa_main_bn_wrap .owl-buttons div.owl-next {
    right: 0;
}
.wa_main_bn_wrap .owl-buttons div.owl-prev:before {
    content: "\f104";
    font: normal normal normal 43px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    top: 0;
    color: #fff;
    right: 2px;
    font-size: 30px;
    line-height: 48px;
    width: 100%;
}
.wa_main_bn_wrap .owl-buttons div.owl-next:before {
    content: "\f105";
    font: normal normal normal 43px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    top: 0;
    color: #fff;
    right: -1px;
    font-size: 30px;
    line-height: 48px;
    width: 100%;
}
.wa_main_bn_wrap .owl-buttons {} .wa_main_bn_wrap .owl-buttons div {
    display: inline-block;
    text-align: center;
    color: #fff;
    overflow: hidden;
    display: inline-block;
    font-size: 0px;
}
.wa_main_bn_wrap .owl-page {
    display: inline-block;
}
.static-banner-caption {
    position: absolute;
    width: 100%;
    height: 100%;
}
.main-static-banner {
    position: relative;
    float: left;
    width: 100%;
    background-position: 0px 0px;
    background-size: cover;
}
.main-static-banner:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.85;
    z-index: 1;
}
.main-static-banner .row {
    z-index: 2;
    position: relative;
}
.main-static-banner-dark:after {
    background-color: #333;
}
.main-static-banner-dark .wa-heading-style1 h2 {
    color: #fff;
}

/*STYLE LINE COLOR*/

.colored-line{
    width: 90%;
    height: 2px;
    overflow: hidden;
    margin-left: 11px;
    margin-right:11px;
    }

.colored-line div{
    height: 2px; 
    width: 20%; 
    float: left;
    }

.black2{background-color: #000000;}
.green2{background-color: #67c709;}
.red2{background-color: #c91414;}
.yellow2{background-color: #e8e00f;}
.brown2{background-color: #3d2e1e;}

/*END COLOR LINE*/
/*
==========================
5 Heading Style
==========================
*/

.centered-title {
    position: relative;
    margin-bottom: 50px;
    text-align: center;
}
.centered-title h2 {
    position: relative;
    display: inline-block;
    font-size: 36px;
    color: #202020;
    font-weight: 700;
    padding-bottom: 10px;
    letter-spacing: 0px;
    text-transform: capitalize;
    margin-bottom: 15px;
    font-family: 'Kaushan Script', cursive;
}
.centered-title h3 span {
    color: #202020;
}
.centered-title h2:after {
    content: '';
    position: absolute;
    left: 50%;
    margin-left: -25px;
    bottom: 0px;
    width: 50px;
}
.centered-title .desc-text {
    max-width: 960px;
    margin: 0 auto;
    color: #999999;
    font-size: 17px;
    line-height: 26px;
}
.left-align-title-strict h2:after {
    left: 0;
    margin-left: 0;
}
.centered-title.left-align-title-strict {
    text-align: left;
    position: relative;
}
.heading-border {
    width: 50px;
    height: 1px;
    display: inline-block;
    clear: both;
    position: absolute;
    bottom: 5px;
    left: 50%;
    margin-left: -25px;
}
.heading-border:before {
    content: '';
    width: 80px;
    height: 1px;
    display: inline-block;
    clear: both;
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -90px;
}
.heading-border:after {
    content: '';
    width: 80px;
    height: 1px;
    display: inline-block;
    clear: both;
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: 10px;
}
.left-title h2 {
    font-size: 22px;
    font-family: 'Kaushan Script', cursive;
    margin-bottom: 50px;
    position: relative;
    padding-bottom: 20px;
}
.left-title .heading-border {
    width: 120px;
    height: 1px;
    display: inline-block;
    clear: both;
    position: absolute;
    bottom: 5px;
    left: 0;
    margin-left: 0px;
}
.left-title .heading-border:before {
    content: '';
    width: 80px;
    height: 0px;
}
.left-title .heading-border:after {
    content: '';
    width: 50px;
    height: 1px;
    display: inline-block;
    clear: both;
    position: absolute;
    bottom: -10px;
    left: 0;
    margin-left: 0px;
}
/*
==============================
6 About
==============================
*/

.about-section {
    position: relative;
    float: Left;
    width: 100%;
}
/*
================================
7 Services
================================
*/

.services {
    position: relative;
    float: left;
    width: 100%;
}
.wa-box-style2 {
    padding: 50px 40px;
    background-color: #fff;
    border-radius: 5%;
    margin-bottom: 30px;
}
.wa-box-style2 i {
    font-size: 32px;
    margin-bottom: 20px;
}
.wa-box-style2 h4 {
    margin-bottom: 10px;
    margin-top: 0px;
    font-size: 22px;
    font-weight: 400;
}
.wa-box-style2 h4 a {
    color: #000;
    text-transform: capitalize;
}
/*
===============================
8 Dishes Grid
===============================
*/

.wa-dishes {
    text-align: center;
    float: left;
    width: 100%;
    box-shadow: 0px 2px 12px -3px rgba(0, 0, 0, 0.47);
    margin-bottom: 30px;
    padding: 1px 1px 15px;
    position: relative;
    background-color: #fff;
}
.wa-dishes-caption h2 {
    margin: 0px;
    float: left;
    width: 100%;
}
.wa-dishes-caption h2 a {
    font-size: 22px;
    text-decoration: none;
    margin: 15px 0px 0px;
    float: left;
    width: 100%;
    color: #fff;
}
.wa-dishes-caption .rating {
    margin: 10px 0px 5px;
}
.wa-dishes-caption p {
    padding: 0px 15%;
}
.wa-dishes-thumbnail {
    display: block;
    width: 100%;
    float: left;
    overflow: hidden;
    position: relative;
}
.wa-dishes:hover .caption {
    opacity: 1;
}
.wa-dishes:hover img {
    opacity: 1;
    transform: scale(1.15, 1.15);
    -webkit-transform: scale(1.15, 1.15);
    -moz-transform: scale(1.15, 1.15);
    -ms-transform: scale(1.15, 1.15);
    -o-transform: scale(1.15, 1.15);
}
.wa-dishes .mask-top-upper {
    padding: 20px 0px;
    opacity: 1;
    -webkit-transition: all 0.45s ease-in-out;
    -moz-transition: all 0.45s ease-in-out;
    -o-transition: all 0.45s ease-in-out;
    -ms-transition: all 0.45s ease-in-out;
    transition: all 0.45s ease-in-out;
}
.wa-dishes:hover >.mask-top-upper {
    -webkit-transition: all 0.45s ease-in-out;
    -moz-transition: all 0.45s ease-in-out;
    -o-transition: all 0.45s ease-in-out;
    -ms-transition: all 0.45s ease-in-out;
    transition: all 0.45s ease-in-out;
}
.wa-dishes img {
    margin: 0px;
    padding: 0px;
    float: left;
    z-index: 4;
    width: 100%;
}
.wa-dishes .caption {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all 0.45s ease-in-out;
    -moz-transition: all 0.45s ease-in-out;
    -o-transition: all 0.45s ease-in-out;
    -ms-transition: all 0.45s ease-in-out;
    transition: all 0.45s ease-in-out;
    background-color: rgba(0, 0, 0, 0.8);
}
.wa-dishes img {
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}
.wa-dishes .caption-text h1 {
    text-transform: uppercase;
    font-size: 24px;
}
.wa-dishes .caption-text {
    z-index: 10;
    color: #fff;
    position: absolute;
    width: 100%;
    height: 300px;
    text-align: center;
    top: 100px;
}
.wa-dishes-icon {
    margin: 0px;
    padding: 0px;
    float: left;
    width: 100%;
    text-align: center;
}
.wa-dishes-icon li {
    display: inline-block;
}
.wa-dishes-icon li a {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #fff;
    text-align: center;
    float: left;
    vertical-align: middle;
    color: #fff;
}
.wa-dishes-icon li a i {
    margin-top: 8px;
    margin-right: 0px;
}
.wa-dishes-main {
    text-align: center;
    position: relative;
    float: left;
    width: 100%;
}
.wa-dishes-main .wa-dishes h2 a {
    color: #202020;
}
.wa-dishes .btn {
    color: #fff;
}
/*
===============================
9 Our Team
===============================
*/

.our-team-main {
    position: relative;
    float: left;
    width: 100%;
}
.our-team-carousel .item {
    #margin: 1px;
}
.our-team-carousel.item img {
    display: block;
    width: 100%;
    height: auto;
}
.our-team-item {
    text-align: center;
}
.our-team-item .mask-top {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 15px 10px;
}
.our-team-item .mask-top h2,
.our-team-item .mask-top span.price {
    color: #fff;
}
.our-team-main .mask-top h4 {
    font-weight: normal;
    font-size: 22px;
}
.our-team-carousel .caption .caption-text {
    #top: 6%;
}
.our-team-carousel .wa-team {
    padding: 0px;
    box-shadow: 0px 2px 12px -3px rgba(0, 0, 0, 0);
    margin-bottom: 0px;
}
.our-team-carousel .wa-team .wa-team-caption {
    padding: 10px;
}
.our-team-item .mask-top-upper {
    position: absolute;
    bottom: 15px;
    left: 0px;
    -webkit-transition: all 0.45s ease-in-out;
    -moz-transition: all 0.45s ease-in-out;
    -o-transition: all 0.45s ease-in-out;
    -ms-transition: all 0.45s ease-in-out;
    transition: all 0.45s ease-in-out;
}
.our-team-item .mask-bottom {
    #background-color: rgba(0, 0, 0, 0.7);
    padding: 15px 10px;
    height: 100%;
}
.our-team-item .mask-bottom h2,
.our-team-item .mask-bottom span.price {
    color: #202020;
}
.our-team-item .mask-bottom h2 {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 23px;
    padding: 0px 0px 5px;
    border-bottom: 1px solid;
    margin-top: 0px;
    margin-bottom: 5px;
}
.our-team-item .mask-bottom-upper {
    position: absolute;
    top: 15px;
    padding-bottom: 15px;
    left: 0px;
    display: none;
    height: 100%;
    -webkit-transition: all 350ms ease-in-out 0s;
    -moz-transition: all 350ms ease-in-out 0s;
    -ms-transition: all 350ms ease-in-out 0s;
    -o-transition: all 350ms ease-in-out 0s;
    transition: all 350ms ease-in-out 0s;
}
.our-team-item:hover>.mask-bottom-upper {
    display: block;
    -webkit-transition: all 350ms ease-in-out 0s;
    -moz-transition: all 350ms ease-in-out 0s;
    -ms-transition: all 350ms ease-in-out 0s;
    -o-transition: all 350ms ease-in-out 0s;
    transition: all 350ms ease-in-out 0s;
    cursor: pointer;
}
.our-team-main .wa-team .caption ul.rating a {
    color: #fff;
}
.our-team-main .wa-team .caption span.price {
    color: #fff;
    padding-bottom: 10px;
}
.wa-team {
    text-align: center;
    float: left;
    width: 100%;
    box-shadow: 0px 2px 12px -3px rgba(0, 0, 0, 0.47);
    margin-bottom: 30px;
    padding: 10px 10px 20px;
    position: relative;
    background-color: #fff;
}
.wa-team-caption h2 {
    margin: 0px;
    float: left;
    width: 100%;
}
.wa-team-caption h2 a {
    font-size: 20px;
    text-decoration: none;
    margin: 15px 0px 0px;
    float: left;
    width: 100%;
    text-transform: capitalize;
    color: #fff;
}
.wa-team-caption .rating {
    margin: 10px 0px 5px;
}
.wa-team-caption p {
    padding: 0px 15%;
}
.wa-team-thumbnail {
    display: block;
    width: 100%;
    float: left;
    overflow: hidden;
    position: relative;
}
.wa-team:hover .caption {
    opacity: 1;
}
.wa-team:hover img {
    opacity: 1;
    transform: scale(1.15, 1.15);
    -webkit-transform: scale(1.15, 1.15);
    -moz-transform: scale(1.15, 1.15);
    -ms-transform: scale(1.15, 1.15);
    -o-transform: scale(1.15, 1.15);
}
.wa-team .mask-top-upper {
    padding: 20px 0px;
    opacity: 1;
    -webkit-transition: all 0.45s ease-in-out;
    -moz-transition: all 0.45s ease-in-out;
    -o-transition: all 0.45s ease-in-out;
    -ms-transition: all 0.45s ease-in-out;
    transition: all 0.45s ease-in-out;
}
.wa-team .mask-top {
    float: left;
    width: 100%;
    position: relative;
    padding: 20px 0px;
}
.wa-team:hover >.mask-top-upper {
    -webkit-transition: all 0.45s ease-in-out;
    -moz-transition: all 0.45s ease-in-out;
    -o-transition: all 0.45s ease-in-out;
    -ms-transition: all 0.45s ease-in-out;
    transition: all 0.45s ease-in-out;
}
.wa-team img {
    margin: 0px;
    padding: 0px;
    float: left;
    z-index: 4;
}
.wa-team .caption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all 0.45s ease-in-out;
    -moz-transition: all 0.45s ease-in-out;
    -o-transition: all 0.45s ease-in-out;
    -ms-transition: all 0.45s ease-in-out;
    transition: all 0.45s ease-in-out;
}
.wa-team img {
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}
.wa-team .caption-text h1 {
    text-transform: uppercase;
    font-size: 24px;
}
.wa-team .caption-text {
    z-index: 10;
    color: #fff;
    position: absolute;
    width: 100%;
    height: 300px;
    text-align: center;
    top: 100px;
}
.wa-team-icon {
    margin: 0px;
    padding: 0px;
    float: left;
    width: 100%;
    text-align: center;
}
.wa-team-icon li {
    display: inline-block;
}
.wa-team-icon li a {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #fff;
    text-align: center;
    float: left;
    vertical-align: middle;
    color: #fff;
}
.wa-team-icon li a i {
    margin-top: 8px;
    margin-right: 0px;
}
.wa-team-main {
    text-align: center;
    position: relative;
    float: left;
    width: 100%;
}
.wa-team-main .wa-team h2 a {
    color: #202020;
}
.wa-team .btn {
    color: #fff;
}
.our-team-item .mask-bottom,
.wa-team .caption {
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}
/*
===============================
10 Dishes Menu
===============================
*/

#dishess-menu {
    position: relative;
    float: left;
    width: 100%;
}
.home-middle-widget {
    margin-bottom: 30px;
}
h3.home-middle-widget-title {
    margin: 0px 0 17px;
    padding: 0px;
    text-transform: capitalize;
}
.home-middle-widget h4 a {
    font-size: 22px;
}
.home-middle-widget .ratings {
    margin-bottom: 0px;
}
.home-middle-widget .price {
    font-size: 16px;
    display: block;
}
/*
================================
11 Testimonial
================================
*/

.testimonial {
    position: relative;
    float: left;
    width: 100%;
}
.testimonial .wa-box-style2 {
    padding: 50px 40px;
    background-color: #fff;
    margin-bottom: 0px;
}
.testimonial .wa-box-style2 i {
    font-size: 32px;
    margin-bottom: 20px;
}
.testimonial .wa-box-style2 h4 {
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 22px;
    font-weight: 400;
}
.testimonial .wa-box-style2 h4 a {
    color: #000;
}
/*
===============================
12 Price and Plans
===============================
*/

.price-plans {
    position: relative;
    float: left;
    width: 100%;
    text-align: center;
}
.price-plans .wa-price-caption p {
    border-bottom: 1px solid #f5f5f5;
    clear: both;
    font-size: 14px;
    margin: 10px 0;
    padding-bottom: 15px;
    width: 100%;
}
.wa-price {
    text-align: center;
    float: left;
    width: 100%;
    margin-bottom: 30px;
    padding: 30px 0px;
    position: relative;
    background-color: #fff;
    border: 1px solid #e8e8e8;
}
.wa-price-caption h2 {
    margin: 0px;
    float: left;
    width: 100%;
    padding: 0px 30px;
}
.wa-price-caption h2 a {
    font-size: 22px;
    text-decoration: none;
    margin: 0px;
    float: left;
    width: 100%;
    color: #fff;
    line-height: 30px;
    margin-bottom: 10px;
}
.wa-price-caption .rating {
    margin: 10px 0px 5px;
}
.wa-price-caption p {
    padding: 0px 15%;
}
.wa-price-thumbnail {
    display: block;
    width: 100%;
    float: left;
    overflow: hidden;
    position: relative;
}
.wa-price:hover .caption {
    opacity: 1;
}
.wa-price .caption {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all 0.45s ease-in-out;
    -moz-transition: all 0.45s ease-in-out;
    -o-transition: all 0.45s ease-in-out;
    -ms-transition: all 0.45s ease-in-out;
    transition: all 0.45s ease-in-out;
}
.wa-price .caption-text h1 {
    text-transform: uppercase;
    font-size: 24px;
}
.wa-price .caption-text {
    z-index: 10;
    color: #fff;
    position: absolute;
    width: 100%;
    height: 300px;
    text-align: center;
    top: 100px;
}
.wa-price-main .wa-price h2 a {
    color: #202020;
}
/*
===============================
13 Fun Facts
===============================
*/

.fun-facts {
    position: relative;
    width: 100%;
    float: left;
}
.fun-fact-section {
    float: left;
    width: 100%;
    position: relative;
    background-attachment: fixed;
    background-size: cover;
    background-position: 0px 0px;
}
.fun-fact-section:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.dark-fun-fact {
    color: #fff;
}
.light-fun-fact {
    color: #000;
}
.dark-theme-fun-fact {
    color: #fff;
}
.dark-fun-fact:before {
    background-color: #000;
    opacity: 0.85;
}
.light-fun-fact:before {
    background-color: #f2f5f6;
    opacity: 0.85;
}
.count-number i {
    font-size: 32px;
    margin-right: 5px;
}
/*
===============================
14 Blogs
===============================
*/

.blogs_main {
    position: relative;
    float: left;
    width: 100%;
}
.blogs_main .wa-theme-design-block {
    float: left;
    width: calc(100% - 2px);
    border: 1px solid #ebebeb;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}
.blogs_main figure {
    float: left;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.blogs_main figure img {
    width: 100%;
    -webkit-transition: all 0.45s ease-in-out;
    -moz-transition: all 0.45s ease-in-out;
    -o-transition: all 0.45s ease-in-out;
    -ms-transition: all 0.45s ease-in-out;
    transition: all 0.45s ease-in-out;
}
.wa-theme-design-block .hover-style {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: #000;
    -webkit-transition: all 0.45s ease-in-out;
    -moz-transition: all 0.45s ease-in-out;
    -o-transition: all 0.45s ease-in-out;
    -ms-transition: all 0.45s ease-in-out;
    transition: all 0.45s ease-in-out;
}
.wa-theme-design-block:hover .hover-style {
    opacity: 0.5;
    z-index: 9;
}
.blogs_main .block-caption {
    position: relative;
    float: left;
    padding: 20px 30px 30px;
}
.blogs_details.blogs_main .block-caption {
    padding: 20px 0px 30px;
}
.blogs_main .block-detail .block-caption {
    padding: 20px 0px 30px;
}
.blogs_main .block-caption h3 {
    font-size: 22px;
    font-weight: 600;
    line-height: 30px;
    color: #333;
}
.blogs_main .block-caption h4 {
    color: #333;
    font-weight: 400;
    margin-bottom: 10px;
    font-size: 22px;
}
.blogs_main .block-caption h3 a {
    color: inherit;
}
.blogs_main .block-caption h4 a {
    color: inherit;
    font-size: 22px;
}
.blogs_main .meta-block li {
    margin-right: 10px;
}
.blogs_main .meta-block li a {
    color: #000;
}
.blogs_main .read-more {
    text-transform: capitalize;
}
.blogs_main .block-caption p {
    margin-bottom: 15px;
}
.blogs_main .wa-theme-design-block:hover figure img {
    transform: scale(1.15, 1.15);
    -webkit-transform: scale(1.15, 1.15);
    -moz-transform: scale(1.15, 1.15);
    -ms-transform: scale(1.15, 1.15);
    -o-transform: scale(1.15, 1.15);
}
.blogs_main .block-caption blockquote p {
    margin: 0px;
}
/*
======================
15 Partner
======================
*/

.wa-partners {
    position: relative;
    float: left;
    width: 100%;
}
.wa-partner-carousel .owl-item div {
    background-color: #fff;
    #border: 1px solid rgba(0, 0, 0, 0.09);
    -webkit-transition: all 0.45s ease-in-out;
    -moz-transition: all 0.45s ease-in-out;
    -o-transition: all 0.45s ease-in-out;
    -ms-transition: all 0.45s ease-in-out;
    transition: all 0.45s ease-in-out;
}
.wa-partner-carousel .owl-item div:hover {
    -webkit-transition: all 0.45s ease-in-out;
    -moz-transition: all 0.45s ease-in-out;
    -o-transition: all 0.45s ease-in-out;
    -ms-transition: all 0.45s ease-in-out;
    transition: all 0.45s ease-in-out;
}
.wa-partner-carousel .owl-item div figure:before {
    background-color: rgba(51, 51, 51, 0);
}
.wa-partner-carousel .owl-item {
    #padding: 2.5px;
}
.wa-partner-carousel .owl-item img {
    border: 1px solid #ebebeb;
}
/*
===============================
16 Background Image
===============================
*/

.special-style {
    height: 100%;
    overflow: hidden;
    padding: 0;
    position: absolute;
    background-size: cover;
    z-index: 0;
    width: 100%;
}
.special-style-full {
    height: 100%;
    overflow: hidden;
    padding: 0;
    position: absolute;
    background-size: cover;
    width: 100%;
    z-index: 0;
}
.special-style-full:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.special-style:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.special-style-dark:before {
    background-color: #000;
    opacity: 0.85;
}
.special-style-light:before {
    background-color: #f2f5f6;
    opacity: 0.85;
}
.special-style-dark-theme:before {
    opacity: 0.85;
}
.bg-image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    top: 0;
    left: 0;
}
.bg-image:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.parallax-style {
    background-attachment: fixed;
}
.dark-section,
.dark-section h1,
.dark-section h2,
.dark-section h3,
.dark-section h4,
.dark-section h5,
.dark-section h6,
.home-middle-widget h4 a {
    color: #fff;
}
/*
=============================
17 Other Pages Section
=============================
*/
/* 17.1 Page Header */

.page-header {
    padding: 50px 0;
    background-color: #f2f2f2;
    margin: 0px;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    float: left;
    width: 100%;
    border-bottom: 0px;
}
/*.page-header:before {*/
/*    position: absolute;*/
/*    content: '';*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background-color: rgba(101, 99, 96, 0.9);*/
/*    top: 0;*/
/*}*/
.breadcrumb {
    border-radius: 0;
    background: none;
    font-size: 16px;
    line-height: 18px;
    margin: 0;
    padding: 11px 0;
    z-index: 2;
    position: relative;
}
.breadcrumb-section {
    color: inherit;
    text-align: center;
}
.breadcrumb-section h2 {
    font-family: 'Kaushan Script', cursive;
}
.breadcrumb>li+li:before {
    content: "\f101";
    padding: 0 5px;
    position: absolute;
    top: 50%;
    left: -20px;
    margin-top: -6px;
    font: normal normal normal 14px/1 FontAwesome;
    color: #f5a84c;
}
.breadcrumb>li {
    margin: 0px 10px;
    position: relative;
}
.breadcrumb>li a {
    color: #f5a84c;
}
/* 17.2 Cart Page */

.cart-page {
    width: 100%;
    float: left;
    position: relative;
}
.order-table-cell a,
.order-table-cell a:visited {
    color: #000;
}
.order-row {
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    float: left;
    width: 100%;
    border-color: #eee;
}
.order-row.last {} .wv_shipping {
    padding: 40px;
    border: 1px solid;
    border-color: #eee;
    position: relative;
    display: inline-block;
    width: 100%;
    margin-top: 15px;
    background-color: #fff;
}
.wv_shipping h2 {
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: #333;
}
.wv_shipping p {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 18px;
}
.wv_subtotal_left,
.wv_subtotal_right {
    padding: 0px;
}
.wv_total_left,
.wv_total_right {
    padding: 0px;
}
.wv_subtotal_left p,
.wv_subtotal_right p {
    text-transform: uppercase;
    margin: 15px 0px;
}
.wv_subtotaling {
    width: 100%;
    display: inline-block;
    position: relative;
    border-bottom: 1px solid;
    border-color: #dbdbdb;
}
.wv_total_left p,
.wv_total_right p {
    text-transform: uppercase;
    font-weight: 700;
    margin: 10px 0px;
}
.wv_button_style1 {
    width: 100%;
    padding: 5px 0px;
    letter-spacing: 0px;
}
.wv_checkout {
    margin-top: 21px;
}
.cart-collaterals .shipping-calculator-form p:last-child {
    margin-bottom: 0;
}
.cart_totals h2 {
    font-size: 18px;
}
.cart_totals table {
    width: 100%;
}
.cart_totals th,
.cart_totals td {
    border-right: 0 none;
    width: 30%;
    padding: 10px 18px;
    vertical-align: middle;
}
.cart_totals td {
    width: 70%;
    padding: 5px 18px;
    vertical-align: middle;
}
.cart_totals td p {
    margin-bottom: 0;
}
.cart_total_box {
    border: 1px solid rgba(0, 0, 0, 0.12);
    padding: 30px 30px 52px;
    display: inline-block;
    width: 100%;
}
/* 17.3 Checkout Page */

.checkout-page {
    position: relative;
    float: left;
    width: 100%;
}
.wv_checkout_tarea {
    background-color: #f7f7f7;
}
/* 17.4 FAQs */

.faqs-accordion .ui-state-default {
    padding: 0.4em 1.3em 0.4em .7em;
    position: relative;
    #margin-top: 15px;
}
.faqs-accordion h3.ui-state-default {
    font-size: 18px;
    background-color: #fff;
    border-color: #e0e0e0;
    outline: none;
    font-weight: 400;
    border: 1px solid #e0e0e0;
}
.ui-accordion-header-active {
    color: #fff;
}
.faqs-accordion .ui-state-hover .ui-icon,
.faqs-accordion .ui-state-focus .ui-icon,
.faqs-accordion .ui-button:hover .ui-icon,
.faqs-accordion .ui-button:focus .ui-icon,
.faqs-accordion .ui-icon {
    background-image: url('');
}
.faqs-accordion .ui-state-hover .ui-icon:before,
.faqs-accordion .ui-state-focus .ui-icon:before,
.faqs-accordion .ui-button:hover .ui-icon:before,
.faqs-accordion .ui-button:focus .ui-icon:before,
.faqs-accordion .ui-icon:before {
    content: "\f107";
    font: normal normal normal 18px/1 FontAwesome;
    text-indent: 0;
    padding: 16px 0px;
    display: inline-block;
}
.faqs-accordion .ui-state-active .ui-icon:before,
.faqs-accordion .ui-button:active .ui-icon:before {
    content: "\f106";
}
.faqs-accordion.ui-accordion .ui-accordion-content {
    background-color: #fff;
    padding: 15px 20px 10px;
    width: 100%;
    margin-left: 0px;
    color: #777;
    border: 1px solid #e0e0e0;
    border-top: 0px solid;
}
.ui-widget {
    font-family: 'Lato', sans-serif;
}
.faqs-accordion .ui-icon {
    width: 40px;
    height: calc(100% + 2px);
    position: absolute;
    right: -1px;
    top: 3px;
    background-color: rgba(241, 241, 241, 0);
    border: 0px solid #e0e0e0;
    text-indent: 0;
    text-align: center;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
    outline: none;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
    background-color: #fff;
}
.ui-corner-all,
.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr,
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
    border-radius: 0px;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
    color: #2e2e2e;
}
/* 17.5 Pagination */

.styled-pagination {
    position: relative;
    float: left;
    width: 100%;
}
.styled-pagination ul {
    padding-left: 0px;
}
.styled-pagination li {
    position: relative;
    display: inline-block;
    margin: 5px 5px 0px 0px;
}
.styled-pagination li a {
    position: relative;
    display: block;
    line-height: 24px;
    padding: 7px 5px;
    font-size: 16px;
    text-transform: uppercase;
    min-width: 40px;
    border: 1px solid #f7f7f7;
    background: #f7f7f7;
    color: #2e2e2e;
    font-weight: 500;
    text-align: center;
    border-radius: 0px;
    transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
}
.styled-pagination li a.next,
.styled-pagination li a.prev {
    font-size: 14px;
    letter-spacing: 1px;
}
.styled-pagination li a:hover,
.styled-pagination li a.active {
    background: #fff;
}
.styled-pagination li a:hover,
.styled-pagination li a.active,
.page_single .styled-pagination li a:hover,
.page_single .styled-pagination li a.active {
    color: #fff;
}
.styled-pagination li a i {
    margin: 0px;
}
/* 17.6 Comment Area */

.reviews-container {
    position: relative;
}
.reviews-container .review-box {
    position: relative;
    margin-bottom: 30px;
    padding-left: 70px;
    min-height: 70px;
}
.sub-rev-box.depth-2 {
    margin-left: 70px;
}
.sub-rev-box.depth-3 {
    margin-left: 140px;
}
.sub-rev-box.depth-4 {
    margin-left: 210px;
}
.sub-rev-box.depth-5 {
    margin-left: 280px;
}
.sub-rev-box.depth-6 {
    margin-left: 350px;
}
.rev-content h4 {
    font-size: 18px;
    line-height: 1.8em;
    font-weight: 400;
    padding: 15px 0px;
    text-transform: capitalize;
}
h4.title {
    font-size: 22px;
    text-transform: capitalize;
}
.reviews-container .rev-thumb {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 50px;
    height: 50px;
}
.rev-content .icon-list {
    padding: 15px 0px;
}
.rev-content .icon-list a {
    font-size: 18px;
    color: #2e2e2e;
}
.reviews-container .rev-thumb img {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
.reviews-container .rev-content {
    position: relative;
    padding: 0px 0px 15px 0px;
}
.reviews-container .rating {
    font-size: 13px;
    margin-bottom: 5px;
}
.reviews-container .rating .fa {
    margin-right: 1px;
}
.rev-content p {
    margin-left: -70px;
}
.add-review {
    position: relative;
    margin: 30px 0px 20px;
    font-size: 14px;
}
.add-review .rating {
    position: relative;
    padding: 10px 0px;
    line-height: 24px;
}
.add-review .rating .rate-box {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    font-size: 14px;
    color: #777777;
}
.leave-reply {
    position: absolute;
    bottom: 0;
    right: 15px;
}
.leave-reply a {
    padding: 5px 10px 5px 10px;
    line-height: 22px;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 400;
    display: inline-block;
    border: 0;
    outline: none;
    color: #2e2e2e;
    background-color: #e9e9e9;
    font-weight: 600;
    -webkit-transition: all 0.45s ease-in-out;
    -moz-transition: all 0.45s ease-in-out;
    -o-transition: all 0.45s ease-in-out;
    -ms-transition: all 0.45s ease-in-out;
    transition: all 0.45s ease-in-out;
}
.leave-reply a:hover {
    color: #fff;
}
/*
===============================
18 Sidebar
===============================
*/

.sidebar .widget {
    border: 1px solid #eee;
    margin-bottom: 30px;
    padding: 15px;
    float: left;
    width: 100%;
    position: relative;
}
.sidebar .widget h4 {
    font-family: 'Kaushan Script', cursive;
}
.sidebar .widget ul li {
    margin-bottom: 5px;
    padding-bottom: 0px;
    float: left;
    width: 100%;
    margin-bottom: 20px;
}
.wa-dishes-main .sidebar {
    text-align: left;
}
.sidebar .widget .links-lists.sub-list li {
    margin-bottom: 0px;
}
.sidebar .widget .links-lists.sub-list li a {
    padding: 15px;
}
.sidebar .widget h1,
.sidebar .widget h2,
.sidebar .widget h3,
.sidebar .widget h4,
.sidebar .widget h5,
.sidebar .widget h6 {
    color: #000;
    padding-bottom: 15px;
    text-align: center;
    border-color: #eee;
}
.sidebar .widget ul li a,
.sidebar .widget p {
    color: #000;
}
.sidebar .widget p {
    margin-bottom: 0px;
}
.sidebar .titles {
    font-weight: 600;
    font-size: 16px;
}
.tag-list a {
    position: relative;
    padding: 10px 17px;
    line-height: 22px;
    text-transform: capitalize;
    background: #f7f7f7;
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
    border-radius: 0;
    margin-bottom: 10px;
    color: #000;
}
.tag-list a:hover{
	color:#fff;
}
.tag-list a:nth-child(even) {
    margin-left: 3.5px;
}
.tag-list a:nth-child(odd) {
    margin-right: 3.5px;
}
.seacrh-list {
    text-align: center;
}
ul.links-lists,
ul.page-lists {
    padding: 0;
    margin: 0;
    list-style: none;
}
ul.links-lists li a,
ul.page-lists li a {
    padding: 10px 15px;
    width: 100%;
    display: inline-block;
    font-size: 14px;
    position: relative;
}
ul.links-lists li a:hover,
ul.links-lists li.active a,
ul.page-lists li a:hover,
ul.page-lists li.active a {
    background-color: #f7f7f7;
}
ul.links-lists li a i,
ul.page-lists li a i {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -6px;
}
.links-lists .sub-list {
    background-color: #f7f7f7;
}
.links-lists .sub-list li {
    display: none;
}
.links-lists .sub-list li a {
    padding-left: 30px;
}
.sidebar .widget input[type="text"],
.sidebar .widget input[type="email"],
.sidebar .widget input[type="number"],
.sidebar .widget input[type="search"] {
    background-color: #f7f7f7;
    border: 0px solid;
    margin-bottom: 0px;
}
.sidebar-post {
    display: inline-block;
    width: calc(47% - 20px);
    margin-bottom: 15px;
}
.sidebar-post:nth-child(odd) {
    margin-right: 10px;
}
.sidebar-post:nth-child(even) {
    margin-left: 10px;
}
.sidebar-post .figure-caption.project-caption {
    bottom: 50%;
    margin-bottom: -21.5px;
}
.latest-twitts {
    padding-left: 0px;
}
.latest-twitts a:before {
    content: '';
    padding-right: 0px;
}
.latest-twitts i.fa {
    font-size: 20px;
    width: 40px;
    margin-right: 10px;
    text-align: center;
}
.latest-twitts img {
    margin-right: 10px;
}
.latest-twitts span {
    font-size: 14px;
    webkit-transition: all 0.45s ease-in-out;
    -moz-transition: all 0.45s ease-in-out;
    -o-transition: all 0.45s ease-in-out;
    -ms-transition: all 0.45s ease-in-out;
    transition: all 0.45s ease-in-out;
}
.latest-twitts span:hover {
    webkit-transition: all 0.45s ease-in-out;
    -moz-transition: all 0.45s ease-in-out;
    -o-transition: all 0.45s ease-in-out;
    -ms-transition: all 0.45s ease-in-out;
    transition: all 0.45s ease-in-out;
}
.latest-twitts li {
    margin-bottom: 17px;
    list-style: none;
}
.latest-twitts li:last-child {
    border-bottom: 0px solid #ebebeb;
}
.latest-twitts p {
    margin-top: 10px;
    margin-bottom: 10px;
}
.latest-twitts li a {
    line-height: 40px;
    text-transform: capitalize;
}
.latest-twitts li a {
    line-height: 40px;
    text-transform: capitalize;
}
.latest-twitts li a i {
    padding-right: 10px;
}
.tag-list a:focus,
.tag-list a:hover {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    -webkit-transition: all 350ms ease-in-out 0s;
    -moz-transition: all 350ms ease-in-out 0s;
    -ms-transition: all 350ms ease-in-out 0s;
    -o-transition: all 350ms ease-in-out 0s;
    transition: all 350ms ease-in-out 0s;
    opacity: 1;
}
.tag-list a i {
    margin-right: 5px;
}
/*
===============================
19 Extra Styles
===============================
*/

.ratings {
    position: relative;
    margin-bottom: 10px;
    margin-left: 0;
    padding-left: 0;
    float: left;
    width: 100%;
}
.ratings li {
    display: inline-block;
    margin: 0px;
}
.ratings li a {
    font-size: 16px;
    line-height: 24px;
}
.page_single {
    position: relative;
    float: left;
    width: 100%;
}
.page_single ul li a,
.page_single ul li a:visited {
    color: #000;
}
.page_single .social li a,
.page_single .social li a:visited {
    color: #fff;
}
.content-column h2 {
    text-transform: capitalize;
}
.page_single blockquote {
    background: #f7f7f7;
    margin: 15px 0px;
    font-style: italic;
    font-size: 16px;
}
.page_single blockquote p {
    margin: 0px;
    font-style: italic;
}
.call-to-action-main {
    float: left;
    width: 100%;
    position: relative;
}
.error {
    font-size: 16em;
    font-weight: 900;
}
.error-text {
    font-size: 16px;
    padding: 30px 11%;
}
.block-detail-head h4 {
    font-size: 22px;
    text-transform: capitalize;
    font-family: 'Kaushan Script', cursive;
}
.block-detail-head h4 span {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    clear: both;
}
.social {
    margin-left: 0px;
    padding: 0px;
}
.social li {
    display: inline-block;
    text-align: center;
}
.social li a {
    float: left;
    border: 1px solid;
    width: 42px;
    height: 42px;
    padding-top: 8px;
    font-size: 18px;
    color: #fff;
    margin: 0px 5px;
    border-radius: 0px;
    border-radius: 100%;
}
.social li a i {
    margin-right: 0px;
}
.login-form {
    border: 1px solid #eee;
    margin-right: 0;
    margin-left: 0;
    padding: 25px 30px;
    display: inline-block;
    width: 100%;
}
.lost_password a,
.lost_password a:visited {
    color: #000;
}
.map-area {
    overflow: hidden;
    height: 410px;
    width: 100%;
}
.map-area .maps {
    height: 410px;
    width: 100%;
    position: relative;
    overflow: hidden;
}
iframe {
    width: 100%;
}
/*
==========================
20 Preloader
==========================
*/

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 9999;
}
.preloader.loaderout {
    top: -100%;
    -webkit-transition: all 0.80s ease-in-out;
    -moz-transition: all 0.80s ease-in-out;
    -o-transition: all 0.80s ease-in-out;
    -ms-transition: all 0.80s ease-in-out;
    transition: all 0.80s ease-in-out;
}
.cssload-container {
    display: block;
    width: 200px;
    font-size: 48px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -100px;
    margin-top: -60px;
    text-align: center;
}
.cssload-container h4 {
    font-family: 'Kaushan Script', cursive;
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
}
#object {
    width: 80px;
    height: 80px;
    -webkit-animation: animate 1s infinite ease-in-out;
    animation: animate 1s infinite ease-in-out;
    margin-right: auto;
    margin-left: auto;
    padding-top: 16px;
    -webkit-transition: all 0.45s ease-in-out;
    -moz-transition: all 0.45s ease-in-out;
    -o-transition: all 0.45s ease-in-out;
    -ms-transition: all 0.45s ease-in-out;
    transition: all 0.45s ease-in-out;
}
.cssload-loading i {
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 50%;
    color: #fff;
    -webkit-transition: all 0.45s ease-in-out;
    -moz-transition: all 0.45s ease-in-out;
    -o-transition: all 0.45s ease-in-out;
    -ms-transition: all 0.45s ease-in-out;
    transition: all 0.45s ease-in-out;
}
@-webkit-keyframes animate {
    0% {
        -webkit-transform: perspective(160px);
    }
    50% {
        -webkit-transform: perspective(160px) rotateY(-180deg);
    }
    100% {
        -webkit-transform: perspective(160px) rotateY(-180deg) rotateX(-180deg);
    }
}
@keyframes animate {
    0% {
        transform: perspective(160px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(160px) rotateX(0deg) rotateY(0deg);
    }
    50% {
        transform: perspective(160px) rotateX(-180deg) rotateY(0deg);
        -webkit-transform: perspective(160px) rotateX(-180deg) rotateY(0deg);
    }
    100% {
        transform: perspective(160px) rotateX(-180deg) rotateY(-180deg);
        -webkit-transform: perspective(160px) rotateX(-180deg) rotateY(-180deg);
    }
}
/*
=========================
21 Owl Carousel Style
=========================
*/
/* 21.1 Carousel Styles1*/

.carousel-style-1 .owl-buttons {
    position: absolute;
    left: 0;
    width: 100%;
    top: 50%;
    margin-top: -25px;
    height: 0;
    text-align: center;
}
.carousel-style-1 .owl-buttons div:hover {
    color: #fff;
    -webkit-transition: all 0.45s ease-in-out;
    -moz-transition: all 0.45s ease-in-out;
    -o-transition: all 0.45s ease-in-out;
    -ms-transition: all 0.45s ease-in-out;
    transition: all 0.45s ease-in-out;
}
.carousel-style-1 .owl-buttons div.owl-prev {
    float: left;
}
.carousel-style-1 .owl-buttons div.owl-next {
    float: right;
}
.carousel-style-1 .owl-buttons div {
    width: 50px;
    height: 50px;
    margin: 0px;
    float: none;
    border: 0px;
    background-color: #eee;
    display: inline-block;
    position: relative;
    right: 0px;
    top: 0px;
    margin-top: 0px;
    font-size: 0px;
}
.carousel-style-1 .owl-buttons div.owl-prev:before {
    content: "\f104";
    font: normal normal normal 43px/1 FontAwesome;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    top: 0;
    color: #000;
    font-size: 30px;
    line-height: 48px;
    width: 100%;
    -webkit-transition: all 0.45s ease-in-out;
    -moz-transition: all 0.45s ease-in-out;
    -o-transition: all 0.45s ease-in-out;
    -ms-transition: all 0.45s ease-in-out;
    transition: all 0.45s ease-in-out;
}
.carousel-style-1 .owl-buttons div.owl-next:before {
    content: "\f105";
    font: normal normal normal 43px/1 FontAwesome;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    top: 0;
    color: #000;
    font-size: 30px;
    line-height: 48px;
    width: 100%;
    -webkit-transition: all 0.45s ease-in-out;
    -moz-transition: all 0.45s ease-in-out;
    -o-transition: all 0.45s ease-in-out;
    -ms-transition: all 0.45s ease-in-out;
    transition: all 0.45s ease-in-out;
}
.carousel-style-1 .owl-buttons div.owl-next:hover:before,
.carousel-style-1 .owl-buttons div.owl-prev:hover:before {
    color: #fff;
}
.carousel-style-1 .owl-buttons div.owl-prev {
    margin-left: 5px;
    z-index: 99;
}
.carousel-style-1 .owl-buttons div.owl-next {
    margin-right: 5px;
    z-index: 99;
}
.carousel-style-1 .owl-buttons:before {
    height: 0px;
}
/* 21.2 Carousel Styles2*/

.carousel-style-2 .owl-buttons {
    position: absolute;
    left: 0;
    width: 100%;
    top: 50%;
    margin-top: -75px;
    height: 0;
    text-align: center;
}
.carousel-style-2 .owl-buttons div:hover {
    color: #fff;
    -webkit-transition: all 0.45s ease-in-out;
    -moz-transition: all 0.45s ease-in-out;
    -o-transition: all 0.45s ease-in-out;
    -ms-transition: all 0.45s ease-in-out;
    transition: all 0.45s ease-in-out;
}
.carousel-style-2 .owl-buttons div.owl-prev {
    float: left;
}
.carousel-style-2 .owl-buttons div.owl-next {
    float: right;
}
.carousel-style-2 .owl-buttons div {
    width: 50px;
    height: 50px;
    margin: 0px;
    float: none;
    border: 0px;
    background-color: rgba(0, 0, 0, 0.4);
    display: inline-block;
    position: relative;
    right: 0px;
    top: 0px;
    margin-top: 0px;
    font-size: 0px;
}
.carousel-style-2 .owl-buttons div.owl-prev:before {
    content: "\f104";
    font: normal normal normal 43px/1 FontAwesome;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    top: 0;
    color: #fff;
    font-size: 30px;
    line-height: 48px;
    width: 100%;
}
.carousel-style-2 .owl-buttons div.owl-next:before {
    content: "\f105";
    font: normal normal normal 43px/1 FontAwesome;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    top: 0;
    color: #fff;
    font-size: 30px;
    line-height: 48px;
    width: 100%;
}
.carousel-style-2 .owl-buttons div.owl-prev {
    margin-left: 5px;
    z-index: 99;
}
.carousel-style-2 .owl-buttons div.owl-next {
    margin-right: 5px;
    z-index: 99;
}
.carousel-style-2 .owl-buttons:before {
    height: 0px;
}
/*
=============================
22 Footer
============================
*/

#main-footer {
    float: left;
    width: 100%;
    position: relative;
}
#main-footer ul.social {
    list-style: none;
    padding: 20px 0px 0px;
    margin-bottom: 0px;
    border-top: 1px solid;
    border-color: #474747;
}
#main-footer .upper-footer {
    float: left;
    width: 100%;
    padding: 60px 0px;
}
#main-footer .bottom-footer {
    float: left;
    width: 100%;
    padding: 20px 0px;
    position: relative;
}
#main-footer .bottom-footer p {
    margin-bottom: 0px;
    font-size: 14px;
    color: #939393;
}
#main-footer ul li {
    list-style: none;
    margin-bottom: 5px;
}
.contact-widget.allcenter-widget p {
    text-align: center;
    float: none;
    display: inline-block;
}
#main-footer .widget h3 {
    min-height: 60px;
}
#main-footer .widget h4 {
    float: left;
    width: 100%;
    position: relative;
}
.wv_social {
    margin-top: 20px;
    float: left;
    width: 100%;
    position: relative;
}
.social-style li {
    display: inline-block;
    text-align: center;
}
.social-style li a,
.widget .social-style li a {
    float: left;
    border: 1px solid;
    width: 42px;
    height: 42px;
    padding-top: 12px;
    font-size: 18px;
    color: #fff;
    margin: 0px 5px;
    border-radius: 0px;
    border-radius: 100%;
}
.widget .social-style li a:hover {
    color: #fff;
}
.widget .social-style li a i {
    margin-right: 0px;
}
.text-left .social-style2 li:first-child a {
    margin-left: 0px;
}
.wv_pay {
    margin-bottom: 0px;
    padding: 0px;
}
.wv_pay li {
    display: inline-block;
    margin-left: 5px;
}
.copy-right {
    margin-top: 5px;
}
.dark-footer {
    color: #fff;
}
.dark-footer .upper-footer {
    background-color: #171616;
}
.dark-footer .bottom-footer {
    background-color: #121111;
}
.footer-bg {
    background-attachment: fixed;
    background-size: cover;
    background-position: 0px 0px;
}
.footer-bg:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.dark-footer .footer-bg:before {
    background-color: #000;
    opacity: 0.9;
}
.light-footer .footer-bg:before {
    background-color: #f2f5f6;
    opacity: 0.9;
}
.dark-theme-footer {
    color: #fff;
}
.dark-theme-footer .bottom-footer {
    background-color: #333;
}
.dark-theme-footer .footer-bg:before {
    opacity: 0.85;
}
#main-footer.dark-theme-footer .upper-footer .widget a:hover {
    color: #fff;
}
#main-footer.dark-theme-footer .upper-footer ul li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}
.widget h4 {
    margin-bottom: 30px;
    color: inherit;
    font-weight: 400;
    text-transform: capitalize;
    border-bottom: 1px solid;
    border-color: #474747;
    line-height: 58px;
    padding-bottom: 0px;
    font-size: 22px;
}
.widget ul {
    padding: 0;
    margin: 0;
}
.widget ul li {
    list-style: none;
    margin-bottom: 15px;
    padding-bottom: 10px;
}
.widget ul li a {
    color: inherit;
    line-height: 18px;
    font-size: 15px;
    font-weight: 400;
    color: #b6b6b6;
    letter-spacing: 0.5px;
}
.wv_circle {
    font-size: 14px;
    vertical-align: middle;
    margin-top: -4px;
}
.square-icon i {
    font-size: 18px;
    width: 42px;
    height: 60px;
    float: left;
    text-align: center;
    padding-top: 19px;
    margin-top: 1px;
    margin-right: 12px;
    border: 1px solid;
}
.rounded-icon i {
    font-size: 18px;
    width: 42px;
    height: 42px;
    float: left;
    text-align: center;
    padding-top: 10px;
    margin-top: 1px;
    margin-right: 12px;
    border: 1px solid;
    border-radius: 100%;
}
.widget h3 img {
    margin-bottom: 34px;
}
.widget.contact-widget li {
    width: 100%;
    float: left;
    margin-bottom: 15px;
    padding-bottom: 10px;
}
.contact-widget .fa {
    color: inherit;
    font-size: inherit;
    line-height: 20px;
}
.contact-widget p,
.widget p {
    font-size: inherit;
    width: 100%;
    float: left;
    text-align: left;
    margin-bottom: 30px;
    line-height: 24px;
    color: #b6b6b6;
}
.square-icon {
    padding-top: 10px;
    vertical-align: super;
}
#main-footer ul.fliker-image li {
    display: inline-block;
    width: 31%;
    margin-right: 1.35%;
    margin-bottom: 7px !important;
    padding-bottom: 0px;
}
.fliker-image img {
    width: 100%;
}
#main-footer ul.fliker-image-2 li {
    float: left;
    width: 21%;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-bottom: 0px;
}
.fliker-image-2 img {
    width: 100%;
}
.wa-news-letter {
    position: relative;
    float: left;
    width: 100%;
}
.wa-news-letter input {
    margin: 0px;
}
.default-btn {
    color: #fff;
}
.wa-news-letter button {
    font-size: 16px;
    padding: 0px 20px;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    border: 0;
    -webkit-transition: all 0.45s ease-in-out;
    -moz-transition: all 0.45s ease-in-out;
    -o-transition: all 0.45s ease-in-out;
    -ms-transition: all 0.45s ease-in-out;
    transition: all 0.45s ease-in-out;
    color: #777;
}
.wa-news-letter button:hover,
.footer-style1 .wa-news-letter button,
.footer-style1 .rounded-icon i,
.footer-style1 .social-style2 a {
    color: #fff;
}