.pd20{
        padding: 20px;
    }
    .mb5{margin-bottom: 5px;}

    .box{
        padding: 5px;
        border-radius: 5px;
        margin: 5px;
    }
    .shadow{box-shadow: 0 0 5px .02px rgba(0,0,0,.2)}
    .box a{text-decoration: none;}
    .box a:hover > *{opacity: .8}
    .heading h3{
        color: #000;
        font-size: 20px;        
    }
    .heading h1{
        font-size: 34px;
        color: #444;
        font-weight: bold;
    }
    .conten p{
        font-size: 14px;
        color: #444;
    }
    .image-cover img,
    .image-thumb img{
        width: 100%;
        height: auto;
    }
    .image-thumb{
        max-height: 400px;
    }
    .image-cover{
        width: 50%;
        margin: auto;
    }
    .media-object{
        height: 80px;
        width: 80px;        
    }
    .title-post{
        font-size: 18px;
        color: #444;
        text-decoration: none;
    }
    .breadcrumb{
        background: none;
    }
    #section-2{
        margin: 20px 0;
        padding-left: 30px;
        padding-bottom: 0;
    }
    .list-inline p{
        padding: 0 10px;
    }
    .list-inline span{
        color: #fff;
        background: #22BAA0;
        padding: 15px;
        border-radius: 5px;
        margin: 5px;
    }
    .list-inline span,
    .list-inline i{
        font-weight: bolder;
        padding: 0 5px;        
    }
