/*
=============================
Theme Background Color
============================
*/
.wa-theme-bg,
.theme-button,
.wa-dishes-icon li a:hover,
.special-style-dark-theme:before,
.dark-theme-fun-fact:before,
.wa-team-icon li a:hover,
.footer-style1 .rounded-icon i,
.social-style li a,
.footer-style1 .wa-news-letter button,
.styled-pagination li a:hover,
.styled-pagination li a.active,
.search-form .button,
.social li a,
.wa_main_bn_wrap .owl-buttons div:hover,
.wa_main_bn_wrap .owl-theme .owl-controls .owl-page.active span,
.owl-controls .owl-page.active span,
.heading-border,
.heading-border:before,
.heading-border:after,
.carousel-style-1 .owl-buttons div:hover,
.carousel-style-2 .owl-buttons div:hover,
#object,
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover,
.navbar-toggle,
#style-switcher h2 a,
.tag-list a:hover  {
    background-color: #C2A275;
}

/*
=============================
Theme Text/Icon Color
============================
*/
.wa-theme-color,
.wa-box-style2 i,
.wa-box-style2 h4 a:hover,
.page_single .ratings li a,
.page_single .ratings li a:hover,
.page_single .ratings li a:visited,
.ratings li a,
.ratings li a:hover,
.ratings li a:visited,
.wa-theme-design-block:hover h4,
.blogs_main .read-more,
.blogs_main .read-more:hover,
.blogs_main .read-more:visited,
.error-text a,
.error-text a:hover,
.error-text a:visited,
.page_single ul li a:hover,
.rev-content .icon-list a,
.rev-content .icon-list a:visited,
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover,
.breadcrumb>li.active,
.breadcrumb-section h2,
.dropdown-menu>li>a:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover,
.widget ul li a:hover,
.home-middle-widget h4 a:hover,
.order-table-cell a:hover,
#top-bar ul li .mc-pro-list h4 a:hover,
.lost_password a:hover,
.lost_password a:visited:hover {
    color: #C2A275;
}

/*
=============================
Theme Border Color
============================
*/
.wa-dishes-icon li a:hover,
.wa-team-icon li a:hover,
.footer-style1 .rounded-icon i,
.social-style li a,
.widget .social-style li a,
.footer-style1 .wa-news-letter button,
.styled-pagination li a:hover,
.styled-pagination li a.active,
.search-form .button,
.faqs-accordion h3.ui-state-default.ui-state-active,
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover,
.dropdown-menu {
    border-color: #C2A275;
}

/*
==================================================
Theme Background/Text/Icon Color With Media Query
==================================================
*/
@media (max-width: 767px) {
    .navbar-nav .open .dropdown-menu .dropdown-header,
    .navbar-nav .open .dropdown-menu > li > a,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
        color: #C2A275;
    }
}
@media only screen and (max-width: 1024px) {
    .carousel-style-1 .owl-buttons div,
    .carousel-style-2 .owl-buttons div {
        background-color: #C2A275;
    }
    .carousel-style-1 .owl-buttons div.owl-next:before,
    .carousel-style-1 .owl-buttons div.owl-prev:before,
    .carousel-style-2 .owl-buttons div.owl-next:before,
    .carousel-style-2 .owl-buttons div.owl-prev:before {
        color: #fff;
    }
}