footer{
    background-color: #505050;
    color: #fff;
}
.footer{
    padding: 50px 0;
}
.footer-box .heading h2{
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 20px;
}
.list .list-style1{
    border:0;
    font-size: 14px;
    color: #444;
    padding: 5px;
    padding-left: 0;
    background-color: transparent;

}
.list .list-style1 a{
    color: #f2f2f2;
    text-decoration: none;
}
.list .list-style1 a:hover{
    color: #fff;
}
.playstore-image{
    margin-bottom: 20px;
}
.social{
    margin: 20px 0;
}
ul.social-buttons{
    margin: 0;
    padding: 0;
    list-style: none;
}
ul.social-buttons li a{
    border-color: #9a9a9a;
    color: #9a9a9a;
}
ul.social-buttons li a:hover{
    color: #fff;
    border-color: #22BAA0;
    background: #22BAA0;
}
ul.social-buttons li a{
    height: 33px;
    width: 33px;
    padding: 12px;
    text-align: center;
    border: 1px solid #9a9a9a;
    line-height: 31px;
    font-size: 14px;
}